

.content {
	padding: 10px;
	padding-top: 0;
}

.top-5 {
	padding-top: 5px;
}

.top-10 {
	padding-top: 10px;
}

.left-20 {
	padding-left: 20px;
}

body {
	background-color: rgb(192, 212, 221);
}

.panel-content-300 {
	margin: 10px;
	padding: 5px;
	background-color: #FAFAFA;
	border-radius: 5px;
	height: 300px;
}

.panel-content-150 {
	margin: 10px;
	padding: 5px;
	background-color: #FAFAFA;
	border-radius: 5px;
	height: 150px;
}

.panel-content-100 {
	height: 100px;
	border: solid 1px #333;
	background-color: #FAFAFA;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	font-family: Consolas,monaco,monospace;
}

.cursor-pointer {
    cursor: pointer;
}

.full-width {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn-group-vertical {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}

.btn-default {
	text-align: left;
}